@import("utilities")

body {
    margin: 0;
    padding: 0;
}

main, container {
    display: block;
}

main#app {
    > section {

    }

    .thumbnail {
        margin: 1.5rem .5rem;
        cursor: pointer;
    }
}